.post-content {
  table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 100%;

    th,
    td {
      padding: 12px 15px;
      // Default
      border: 1px solid $light-table-color;
    }

    thead {
      tr {
        text-align: left;
        // Default
        background-color: $light-table-color;
        color: $light-color;
      }
    }

    tbody {
      tr {
        // Default
        border: 1px solid $light-table-color;
      }
    }
  }
}
